.animated-digit {
  display: inline-flex;
  height: 60px;
  width: 60px;
  color: white;
  background: rgba(0, 0, 0, 0.2) 20%;
  text-align: center;
  padding: 24px;
  border-radius: 60px;
  border: 2px solid #e8cce9;
  margin-top:1em;
  justify-content:center;
  align-items: center;
  font-size:32pt;
}
